


body {
  margin:0px;
  padding:0px;
  font-family: "Open Sans", OpenSans, sans-serif;
  font-size:16px;
  line-height:25px;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

h1 {
  font-size: 55px;
  font-weight: 300;
  line-height:50px;
}

h2 {
  font-size: 38px;
  font-weight: 300;
  line-height:45px;
}

h3 {
  font-size: 32px;
  font-weight: 300;
}

/*** Nav Section ***/

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding: 15px 100px;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}
.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

/*** Hero Section ***/

#homepage-hero button {
  background: rgb(240, 146, 51);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 10px 70px;
  font-size: 16px;
  cursor: pointer;
}

.hero-content p{
  font-size:20px;
}

#homepage-hero{
  background-image: url(images/hero-cityscape.svg);
  background-size: cover;
  color:white;
}

.top-header {
  padding: 15px 100px;
}

.hero-content {
  padding: 20px 0 130px;
  width: 400px;
}
.header-search{
  font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
  letter-spacing: 0px;
  border: none;
  height: 40px;
  padding: 10px;
  width:80%;
  background:rgb(31, 82, 111);
  color:white;
  margin: 0 15px;
}

.top-header a {
  color: white;
  text-decoration: none;
}
img.bear-logo {
  width: 50px;
  vertical-align: middle;
}
img.logo {
  width: 100px;
  vertical-align: middle;
}

/*** Collaboration Section ***/


#collaboration button{
  background: rgb(203, 56, 55);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 10px 70px;
  font-size: 16px;
  cursor: pointer;
  width: 80%;
}

.colaboration-buton {
  text-align: center;
}

#collaboration li {
  line-height: 32px;
  font-size: 20px;
}

#collaboration{
  background:rgb(39, 53, 71);
  color:white;
  padding:100px 0px;
}

.collaboration-image {
  width: 470px;
  display: inline-block;
  margin-right:50px;
  float: left;
}
.collaboration-content {
  width:440px;
  display: inline-block;
}
.colaboration-buton a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

/*** What is Section ***/

#what-is{
  background-image: url(images/forklift.svg);
  color:white;
  background-size: cover;
  position:relative;
  padding: 250px 0;
}
.what-is-content {
  position: absolute;
  top: 140px;
  width: 380px;
}

#what-is button{
  background:rgb(49, 68, 88);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
}

/*** Build is Section ***/


#build {
  padding: 70px 0;
}

.find,.build,.discover {
  width: 25%;
  display: inline-block;
  padding: 40px;
  text-align: center;
}

.build-content {
  text-align: center;
}

/*** Footer ***/

#footer {
  background: #273546;
  padding:2px 0;
}

#footer p {
  color: white;
  text-align: center;
}
